extends ./layouts/default

block title
	title Koa Douban

block content
	include ./includes/header
	
	.container-fluid
		.sidebar
		.content
			.row
				.col-md-6
					.card
						img.card-img-top(data-video='https://youtu.be/PAlE5bdkvIg')
						.card-body
							h4.card-title 这是电影标题
							p.card-desc 这是电影描述
						.card-footer
							small.text-muted 1 天前更新
				.col-md-6